  <% if @events.empty? -%>
    <p class='text-muted py-4 mb-0 text-center'>No events yet.</p>
  <% else -%>
    <% @events.each do |event| -%>
      <div class='card mb-1 shadow-none'>
        <div class='card-body'>
          <div class='inner-event d-flex align-items-start flex-column flex-md-row align-items-md-center'>
            <% icon_classes = "fa fa-#{event.icon_name} text-#{event.positive? ? 'success' : 'danger'}" %>
            <div class='d-none d-md-block <%= icon_classes %> mr-3'></div>
            <div class='event-content'>
              <%= render partial: event.to_partial_path, locals: { event: event, icon_classes: icon_classes } %>
            </div>
            <div class='timestamp ml-md-auto text-sm text-muted ml-md-3 mt-2 mt-md-0 text-nowrap text-md-right'>
              <a href='<%= namespaced_path( 'event', {id: event.id, type: event.type}) %>'>
                <% date_string = event.timestamp.strftime("%B %d, %Y") -%>
                <% time_string = event.timestamp.strftime("at %H:%M %Z") -%>
                <div class='d-inline d-md-block'><%= date_string %></div>
                <div class='d-inline d-md-block'><%= time_string %></div>
              </a>
            </div>
            <% if current_admin -%>
              <div class='ml-3'>
                <%= button_to admin_common_validator_event_path(event), method: 'delete', class: 'text-danger btn btn-link px-0', form: { class: 'd-inline' } do %>
                  <span class='fas fa-times'></span>
                <% end -%>
              </div>
            <% end -%>
          </div>
        </div>
      </div>

    <% end -%>
  <% end -%>

  <% total_pages = (@total / @chain.class::EVENTS_PAGE_SIZE.to_f).ceil %>
  <nav class='mt-5'>
    <ul class='pagination justify-content-center'>
      <li class='page-item <%= 'disabled' if @page == 1 %>'><a class='page-link' href='<%= namespaced_path( 'events', { page: @page-1, validator: params[:validator] }.compact ) %>'>Previous</a></li>
      <% start_page = @page - 3 -%>
      <% end_page = @page + 3 -%>
      <% if start_page > 1 -%>
        <li class='page-item disabled'><div class='page-link'>&hellip;</div></li>
      <% end -%>
      <% [start_page,1].max.upto([end_page,total_pages].min) do |num| -%>
        <li class='page-item <%= 'active' if num == @page %>'>
          <a class='page-link' href='<%= namespaced_path( 'events', { page: num, validator: params[:validator] }.compact ) %>'><%= num %></a>
        </li>
      <% end -%>
      <% if end_page < total_pages -%>
        <li class='page-item disabled'><div class='page-link'>&hellip;</div></li>
      <% end -%>
      <li class='page-item <%= 'disabled' if @page == total_pages %>'><a class='page-link' href='<%= namespaced_path( 'events', { page: @page+1, validator: params[:validator] }.compact ) %>'>Next</a></li>
    </ul>
  </nav>