<div>
  <span class='d-inline d-md-none <%= icon_classes %> mr-1'></span>
  <span class='font-weight-bold'>
      <a href='<%= namespaced_path( 'account', event.accountlike.address ) %>'><%= event.accountlike.address %></a> voted <%= event.data['message']['option'] %> on
    <span class='technical'>Proposal <%= event.proposallike.ext_id %> <%= link_to event.proposallike.title, namespaced_path( 'governance_proposal', event.proposallike ) %>.
  </span>
  <span class='text-muted'>
    <a class='technical' href='<%= namespaced_path( 'transaction', event.transactionlike ) %>'><%= event.transactionlike.hash_id %></a>
  </span>
</div>
