<% content_for :body_class, 'events-index' %>

<%= render partial: '/common/shared/chain_header', locals: { faucet_link: true, accounts_link: true, transactions_link: true, swaps_link: true } %>
<%= render partial: '/common/shared/sync_errors' %>

<h3>
  Events
  <% if @validator -%>
    for <a href='<%= namespaced_path( 'validator', @validator ) %>'><%= @validator.short_name %></a>
  <% end -%>
  <small class='text-sm text-muted'>
    showing <%= @offset+1 %>-<%= [@total, @offset+@chain.class::EVENTS_PAGE_SIZE].min %>
    of <%= pluralize( @total, 'total event' ) %>
  </small>
</h3>

<div
  class="events-container"
  data-controller="content-loader"
  data-content-loader-url="<%= namespaced_path( 'events_table', @chain ) %>"
  data-content-loader-refresh-interval="30000">
  <%= render partial: 'events_table', locals: { events: @events, page: @page, total: @total } %>
</div>