<h2 class='header'>
  <div>Faucet Transaction Logs for <%= @chain.network_name %> <span class='text-muted'>/</span> <%= @chain.name %></div>
  <small><a class='btn btn-sm btn-outline-secondary' href='<%= admin_cosmos_chain_path(@chain) %>'>back</a></small>
</h2>
<h3>
  <%= @chain.faucet.key_name %>
  <small class='text-muted technical'><%= @chain.faucet.address %></small>
</h3>

<table class='table mt-4'>
  <thead class='thead-light'>
    <tr>
      <th>Date</th>
      <th>Details</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <% @transactions.each do |tr| -%>
      <tr>
        <td class='text-nowrap'>
          <%= tr.created_at.strftime("%B %d, %Y @ %H:%M %Z") %>
          <div class='text-sm text-muted'><%= distance_of_time_in_words( tr.created_at, Time.now, true, highest_measures: 2 ) %> ago</div>
        </td>
        <td>
          <span class='technical text'>
            <%= tr.amount.to_i %> <%= tr.denomination %>
          </span>
          <span class='text-muted'>to</span>
          <span class='technical'><%= tr.address %></span>
          <div class='text-sm mt-1'>
            <% if tr.user %>
              On behalf of user <a href='<%= admin_user_path(tr.user) %>'><%= tr.user.name %></a>
            <% end -%>
            (<label class='text-muted mb-0'>IP</label> <span class='technical'><%= tr.ip %></span>)
          </div>
        </td>
        <td class='text-nowrap'>
          <% if tr.failed? -%>
            <div class='text-danger status' data-status='failed'>
              <span class='fa fa-exclamation-triangle'></span>
              <span class='ml-1'>Failed</span>
            </div>
          <% elsif !tr.completed? -%>
            <div class='text-muted status' data-status='pending'>
              <span class='fa fa-sync fa-spin'></span>
              <span class='ml-1'>Pending</span>
            </div>
          <% else -%>
            <div class='status' data-status='success'>
              <span class='fa fa-check text-success'></span>
              <span class='ml-1'>
                Completed
                <small>(block <%= tr.height %>)</small>
              </span>
            </div>
          <% end -%>
        </td>
      </tr>
    <% end -%>
  </tbody>
</table>
