<% content_for :body_class, 'admin-root' %>

<div class='row'>
  <div class='col-12'>

    <div class='card'>
      <h5 class='card-header header mb-0'>
        Enigma
        <div class='buttons text-right'>
          <% show_dead_enigma = params[:dead] == 'enigma' -%>
          <a class='btn btn-sm btn-outline-light' href='<%= admin_root_path( dead: show_dead_enigma ? nil : 'enigma' ) %>'><%= show_dead_enigma ? 'hide' : 'show' %> dead</a>
          <a class='btn btn-sm btn-light' href='<%= new_admin_enigma_chain_path %>'>+ new</a>
        </div>
      </h5>
      <div class='card-body p-0'><%= render '/admin/common/chains/quick_info', chains: Enigma::Chain.public_send( show_dead_enigma ? 'all' : 'alive' ) %></div>
    </div>

    <div class='card'>
      <h5 class='card-header header mb-0'>
        Secret
        <div class='buttons text-right'>
          <% show_dead_secret = params[:dead] == 'secret' -%>
          <a class='btn btn-sm btn-outline-light' href='<%= admin_root_path( dead: show_dead_secret ? nil : 'secret' ) %>'><%= show_dead_secret ? 'hide' : 'show' %> dead</a>
          <a class='btn btn-sm btn-light' href='<%= new_admin_secret_chain_path %>'>+ new</a>
        </div>
      </h5>
      <div class='card-body p-0'><%= render '/admin/common/chains/quick_info', chains: Secret::Chain.public_send( show_dead_secret ? 'all' : 'alive' ) %></div>
    </div>

    <div class='card'>
      <h5 class='card-header header mb-0'>
        Cosmos
        <div class='buttons text-right'>
          <% show_dead_cosmos = params[:dead] == 'cosmos' -%>
          <a class='btn btn-sm btn-outline-light' href='<%= admin_root_path( dead: show_dead_cosmos ? nil : 'cosmos' ) %>'><%= show_dead_cosmos ? 'hide' : 'show' %> dead</a>
          <a class='btn btn-sm btn-light' href='<%= new_admin_cosmos_chain_path %>'>+ new</a>
        </div>
      </h5>
      <div class='card-body p-0'><%= render '/admin/common/chains/quick_info', chains: Cosmos::Chain.public_send( show_dead_cosmos ? 'all' : 'alive' ) %></div>
    </div>

    <div class='card'>
      <h5 class='card-header header mb-0'>
        Terra
        <div class='buttons text-right'>
          <% show_dead_terra = params[:dead] == 'terra' -%>
          <a class='btn btn-sm btn-outline-light' href='<%= admin_root_path( dead: show_dead_terra ? nil : 'terra' ) %>'><%= show_dead_terra ? 'hide' : 'show' %> dead</a>
          <a class='btn btn-sm btn-light' href='<%= new_admin_terra_chain_path %>'>+ new</a>
        </div>
      </h5>
      <div class='card-body p-0'><%= render '/admin/common/chains/quick_info', chains: Terra::Chain.public_send( show_dead_terra ? 'all' : 'alive' ) %></div>
    </div>

    <div class='card'>
      <h5 class='card-header header mb-0'>
        IRIS
        <div class='buttons text-right'>
          <% show_dead_iris = params[:dead] == 'iris' -%>
          <a class='btn btn-sm btn-outline-light' href='<%= admin_root_path( dead: show_dead_iris ? nil : 'iris' ) %>'><%= show_dead_iris ? 'hide' : 'show' %> dead</a>
          <a class='btn btn-sm btn-light' href='<%= new_admin_iris_chain_path %>'>+ new</a>
        </div>
      </h5>
      <div class='card-body p-0'><%= render '/admin/common/chains/quick_info', chains: Iris::Chain.public_send( show_dead_iris ? 'all' : 'alive' ) %></div>
    </div>

    <div class='card'>
      <h5 class='card-header header mb-0'>
        Kava
        <div class='buttons text-right'>
          <% show_dead_kava = params[:dead] == 'kava' -%>
          <a class='btn btn-sm btn-outline-light' href='<%= admin_root_path( dead: show_dead_kava ? nil : 'kava' ) %>'><%= show_dead_kava ? 'hide' : 'show' %> dead</a>
          <a class='btn btn-sm btn-light' href='<%= new_admin_kava_chain_path %>'>+ new</a>
        </div>
      </h5>
      <div class='card-body p-0'><%= render '/admin/common/chains/quick_info', chains: Kava::Chain.public_send( show_dead_kava ? 'all' : 'alive' ) %></div>
    </div>

  </div>
</div>

<div class='row'>
  <div class='col-12 col-md-3'>

    <div class='card'>
      <a href='<%= admin_users_path %>'>&nbsp;</a>
      <h5 class='card-header'>Users</h5>
      <div class='card-body'>
        <div><small class='text-muted'><%= pluralize User.count, 'user' %> total</small></div>
        <div><small class='text-muted'>
          <%= User.where( 'created_at >= ?', 1.day.ago ).count %>
          new in past day
        </small></div>
        <div><small class='text-muted'>
          <%= User.where( 'last_seen_at >= ?', 1.day.ago ).count %>
          seen in past day
        </small></div>
      </div>
    </div>

  </div>
  <div class='col-12 col-md-3'>

    <div class='card'>
      <a href='<%= admin_administrators_path %>'>&nbsp;</a>
      <h5 class='card-header'>Administrators</h5>
      <div class='card-body'>
        <div><small class='text-muted'><%= pluralize Administrator.count, 'administrator' %></small></div>
        <% not_set_up = Administrator.where.not( one_time_setup_token: nil ).count -%>
        <% if not_set_up > 0 -%>
          <div><small class='text-danger'><%= not_set_up %> pending invitations</small></div>
        <% end -%>
      </div>
    </div>

  </div>
</div>
