<header class='network-chain-header'>
  <div class='buttons ml-auto d-flex flex-wrap'>
    <% if @chain -%>
      <% if current_admin -%>
        <a class='ml-1 btn btn-info' href='<%= namespaced_path( admin: true ) %>'>
          <span class='d-none d-md-inline'>Admin</span>
          <span class='d-inline d-md-none fa fa-crown'></span>
        </a>
      <% end -%>
      <% if defined?(faucet_link) && @chain.faucet && @chain.faucet.enabled? -%>
        <a class='ml-1 mb-1 btn btn-outline-primary' href='<%= namespaced_path( 'faucet' ) %>'>Faucet</a>
      <% end -%>
      <% if defined?(accounts_link) %>
        <a class='ml-1 mb-1 btn btn-outline-primary' href='<%= namespaced_path( 'accounts' ) %>'>Accounts</a>
      <% end %>
      <% if defined?(swaps_link) %>
        <a class='ml-1 mb-1 btn btn-outline-primary' href='<%= namespaced_path( 'swaps' ) %>'>Swaps</a>
      <% end %>
      <% if defined?(contracts_link) %>
        <a class='ml-1 mb-1 btn btn-outline-primary' href='<%= namespaced_path( 'contracts' ) %>'>Contracts</a>
      <% end %>
      <% if defined?(transactions_link) -%>
        <a class='ml-1 mb-1 btn btn-outline-primary' href='<%= namespaced_path( 'transactions' ) %>'>Transactions</a>
      <% end -%>
      <% if defined?(events_link) -%>
        <a class='ml-1 mb-1 btn btn-outline-primary' href='<%= namespaced_path( 'events' ) %>'>Events</a>
      <% end -%>
      <% if defined? governance_link -%>
        <a class='btn btn-outline-secondary ml-1 mb-1' href='<%= namespaced_path( 'governance_root' ) %>'>
          <span class='d-none d-md-inline'>Governance</span>
          <span class='d-inline d-md-none'>Gov</span>
        </a>
      <% end -%>
      <% if defined? summary_link -%>
        <a class='ml-1 btn btn-outline-secondary mb-1' href='<%= namespaced_path %>'>
          <span class='d-none d-md-inline'>Summary</span>
          <span class='d-inline d-md-none fa fa-arrow-circle-up'></span>
        </a>
      <% end -%>

      <a href='<%= namespaced_path( 'logs' ) %>' class='ml-1 tooltip-target info-tooltip-target' data-toggle='tooltip' title='<%= chain_header_tooltip_info %>'>
        <span class='fas fa-info'></span>
      </a>
    <% end -%>
  </div>
</header>

<% if !@chain.notes.blank? -%>
  <div class='alert alert-info chain-notes d-flex align-items-center'>
    <span class='fas fa-fw fa-info-circle mr-2'></span>
    <%= Redcarpet::Markdown.new(Redcarpet::Render::HTML).render(@chain.notes).html_safe %>
  </div>
<% end -%>
