<div class='chain-scroll d-flex align-items-start'>
  <% chains = Cosmos::Chain.all.order('last_sync_time DESC NULLS LAST') -%>
  <% if chains.empty? -%>
    <p class='text-muted mb-0'>No chains yet.</p>
  <% end -%>
  <% chains.each do |chain| -%>
    <div class='card light-shadow with-hover flex-shrink-0'>
      <a href='<%= admin_cosmos_chain_path(chain) %>'></a>
      <div class='card-body'>
        <h4>
          <%= chain.name %>
          <%= chain.primary? ? "<span class='fa fa-star text-primary' title='Primary Cosmos Chain'></span>".html_safe : '' %>
          <%= chain.testnet? ? "<span class='fa fa-vial text-info' title='Testnet Chain'></span>".html_safe : "<span class='fa fa-link text-success' title='Mainnet Chain'></span>".html_safe %>
        </h4>
        <div><span class='fa <%= chain.enabled? ? 'fa-sync fa-spin text-success' : 'fa-exclamation-triangle text-warning' %>'></span> <%= chain.enabled? ? 'Syncing' : 'Disabled' %></div>
        <div><b><%= chain.latest_local_height %></b> blocks</div>
        <div><b><%= chain.validators.count %></b> validators</div>
        <% if chain.last_sync_time -%>
          <div>Synced <b><%= time_ago_in_words chain.last_sync_time, highest_measure_only: true %></b> ago</div>
        <% else -%>
          <div class='text-danger'>Not yet synced</div>
        <% end %>
      </div>
    </div>
  <% end -%>
</div>
