<% content_for :body_class, 'admin-cosmos-chain-new' %>

<h2 class='header'>
  Creating <%= @chain.network_name %> Chain
  <a class='btn btn-sm btn-outline-secondary' href='<%= admin_root_path %>'>back</a>
</h2>

<%= form_for [:admin, @chain] do |f| %>
  <%= f.hidden_field :disabled, value: true %>
  <div class='row'>
    <div class='col-12 col-md-4'>
      <div class='form-group'>
        <label class='d-block'>Chain Name</label>
        <%= f.text_field :name, class: 'form-control', placeholder: 'Name' %>
      </div>
      <div class='form-group'>
        <label class='d-block'>URL Slug</label>
        <%= f.text_field :slug, class: 'form-control', placeholder: 'slug' %>
      </div>
      <div class='form-group'>
        <label class='d-block'>Gaiad Host</label>
        <%= f.text_field :gaiad_host, class: 'form-control', placeholder: @chain.get_gaiad_host_or_default %>
      </div>
      <div class='form-group'>
        <label class='d-block'>RPC Port</label>
        <%= f.text_field :rpc_port, class: 'form-control', placeholder: @chain.get_rpc_port_or_default %>
      </div>
      <div class='form-group'>
        <label class='d-block'>LCD Port</label>
        <%= f.text_field :lcd_port, class: 'form-control', placeholder: @chain.get_lcd_port_or_default %>
      </div>
    </div>

    <div class='col-12 col-md-4'>
      <div class='form-group'>
        <label class='d-block'>Primary Token Denomination</label>
        <%= f.text_field :token_denom, class: 'form-control', placeholder: 'atom' %>
      </div>
      <div class='form-group'>
        <label class='d-block'>Token Multiplication Factor</label>
        <span class='text-lg'>10 <tt>^</tt> <%= f.number_field :token_factor, class: 'form-control d-inline w-25', placeholder: '0' %></span>
      </div>
      <div class='form-group'>
        <div><label>
          <%= f.check_box :primary, class: 'form-control d-inline h-auto w-auto' %>
          Primary for network?
        </label></div>
        <div><label>
          <%= f.check_box :testnet, class: 'form-control d-inline h-auto w-auto' %>
          Testnet?
        </label></div>
        <div><small class='text-muted'>
          <span class='fa fa-info-circle'></span>
          Chain will start with syncing disabled.
        </small></div>
      </div>
      <%= f.submit 'Create Chain', class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
<% end -%>
