<% content_for :body_class, 'admin-chain-new' %>

<h2 class='header'>
  Create a <%= @chain.network_name %> Petition
  <a class='btn btn-sm btn-outline-secondary' href='<%= admin_root_path %>'>back</a>
</h2>

<%= form_with url: secret_chain_petitions_path, model: @petition, local: true do |f| %>
  <div class='row'>
    <div class='col-12 col-md-6'>
      <div class='form-group'>
        <label class='d-block'>Title</label>
        <%= f.text_field :title, class: 'form-control', placeholder: 'Petition Title' %>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class='form-group'>
        <label class='d-block'>Voting Period</label>
        <div class="form-check">
          <%= f.radio_button :voting_end_time, 1, class: 'form-check-input' %>
          <%= f.label :voting_end_time, '1 day', class: 'form-check-label' %>
        </div>
        <div class="form-check">
          <%= f.radio_button :voting_end_time, 3, class: 'form-check-input' %>
          <%= f.label :voting_end_time, '3 days', class: 'form-check-label' %>
        </div>
        <div class="form-check">
          <%= f.radio_button :voting_end_time, 7, class: 'form-check-input' %>
          <%= f.label :voting_end_time, '7 days', class: 'form-check-label' %>
        </div>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class="col-12">
      <div class='form-group'>
        <label class='d-block'>Petition Body</label>
        <%= f.text_area :description, class: 'form-control' %>
      </div>
    </div>
  </div>
  <%= f.submit 'Create Chain', class: 'btn btn-lg btn-primary' %>
<% end -%>
