<% content_for :body_class, 'chain-halted' %>

<%= render partial: '/common/shared/chain_header', locals: { accounts_link: true, transactions_link: true, swaps_link: true, governance_link: true, petitions_link: true, contracts_link: true, events_link: true } %>

<% if @latest_block.nil? -%>
  <h4>Chain has not yet started.</h4>
<% end -%>

<% hcs = @chain.namespace::HaltedChainService.new(@chain) rescue nil -%>

<% if !hcs.nil? -%>
  <div class='row info-cards'>
    <div class='col-12 col-md-9 order-1 order-md-0'>
      <section class='validators'>
        <div class='validator-table-header'>
          <h4>Validators in Last Round</h4>
        </div>
        <div class='validator-table'>
          <table>
            <thead>
              <tr>
                <th>Address</th>
                <th>Voting Power</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <% hcs.validator_states.each do |validator_info| -%>
                <% validator = validator_info[:validator] -%>
                <tr>
                  <td>
                    <a href='<%= namespaced_path( 'validator', validator_info[:address] ) %>'>
                      <% if validator -%>
                        <% if (name = (validator.moniker || validator_info[:name])) -%>
                          <strong><%= name.truncate(40, separator: '...') %></strong>
                        <% else -%>
                          <span class='technical'><%= (validator.owner || validator.address).truncate(40, separator: '...') %></span>
                        <% end -%>
                      <% elsif validator_info[:name] -%>
                        <strong><%= validator_info[:name].truncate(40, separator: '...') %></strong>
                      <% else -%>
                        <span class='technical'><%= validator_info[:address] %></span>
                      <% end -%>
                    </a>
                  </td>
                  <td><%= format_amount(validator_info[:voting_power], @chain, denom: @chain.token_map[@chain.primary_token]['display']) %></td>
                  <td>
                    <% validator_info[:good].each do |action| -%>
                      <span class='technical badge badge-success'><%= action %></span>
                    <% end -%>
                    <% validator_info[:bad].each do |action| -%>
                      <span class='technical badge badge-danger'><%= action %></span>
                    <% end -%>
                  </td>
                </tr>
              <% end -%>
            </tbody>
          </table>
        </div>
      </section>
    </div>

    <div class='col-12 col-md-3 order-0 order-md-1 info-cards'>
      <div class='card'>
        <h5 class='card-header'>Round Info</h5>
        <div class='card-body'>
          <div class='d-flex flex-column'>
            <div class='d-flex justify-content-between'>
              <div class='w-50'>
                <label class='text-muted'>Height</label>
                <div class='technical text-lg'><%= hcs.height %></div>
              </div>
              <div class='w-50'>
                <label class='text-muted'>Consensus</label>
                <div class='technical text-lg'><%= hcs.percentage.round(0) %>%</div>
              </div>
            </div>
            <div class='d-flex justify-content-between'>
              <div class='w-50'>
                <label class='text-muted mt-3'>Round</label>
                <div class='technical text-lg'><%= hcs.round %></div>
              </div>
              <div class='w-50'>
                <label class='text-muted mt-3'>Step</label>
                <div class='technical text-lg'><%= hcs.step %></div>
              </div>
            </div>
            <div>
              <label class='text-muted mt-3'>Status</label>
              <% if hcs.is_precommit_step? -%>
                <span>Waiting for pre-commits...</span>
              <% elsif hcs.is_waiting_step? -%>
                <span>Waiting for proposal...</span>
              <% else -%>
                <span>Waiting for prevotes...</span>
              <% end -%>
            </div>
            <div>
              <label class='text-muted mt-3'>Start Time</label>
              <%= hcs.start_time.strftime("%Y-%m-%d at %H:%M %Z").html_safe %>
            </div>
            <div>
              <label class='text-muted mt-3'>Proposer</label>
              <% if hcs.proposer.is_a?(String) -%>
                <span class='technical'><%= hcs.proposer %></span>
              <% else -%>
                <a href='<%= namespaced_path( 'validator', hcs.proposer ) %>'>
                  <% if hcs.proposer.moniker -%>
                    <strong><%= hcs.proposer.moniker.truncate(40, separator: '...') %></strong>
                  <% else %>
                    <span class='technical'><%= (hcs.proposer.owner || hcs.proposer.address).truncate(40, separator: '...') %></span>
                  <% end -%>
                </a>
              <% end -%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% else -%>
  Unable to get consensus information for halted network.
<% end -%>
