<% content_for :body_class, 'chain-show' %>

<%= render partial: '/common/shared/chain_header', locals: { accounts_link: true, transactions_link: true, swaps_link: true, governance_link: true, contracts_link: true, events_link: true } %>
<%= render partial: '/common/shared/sync_errors' %>

<div class='row info-cards'>
  <div class='col-12 col-md-9 order-1 order-md-0'>
    <section class='validators'>
      <div class='validator-table-header'>
        <h4>
          Validators
          <small>&nbsp;&mdash; <%= @chain.validators.count %> total&nbsp;</small>
          <div class='tiny-average-active-validators-chart-container'>
            <canvas class='average-active-validators-chart'></canvas>
          </div>
          <script>
            App.seed.AVERAGE_ACTIVE_VALIDATORS = <%= AverageSnapshotDecorator.new( @chain, 'active-validators', 'hour', 30 ).as_json.to_json.html_safe %>
          </script>
        </h4>

        <div class='controls'>
          <input type='text' class='form-control form-control-sm validator-search' placeholder='filter validators...'>
          <a tabindex=0 class='btn btn-sm btn-outline-light validator-table-settings-target'><span class='fas fa-cog'></span></a>
          <div class='validator-table-settings d-none'>
            <div class='btn-group' role='group' aria-label='Validator table filter'>
              <button type='button' data-target='⭐️' class='btn btn-outline-primary'>All</button>
              <button type='button' data-target='✔' class='btn btn-outline-primary'>Active</button>
              <button type='button' data-target='𐄂' class='btn btn-outline-primary'>Inactive</button>
            </div>
          </div>
          <script>
            App.config.currentValidatorFilter = '⭐️'
          </script>
        </div>
      </div>

      <div class='validator-table'>
        <table>
          <thead>
            <tr>
              <th>Address/Name</th>
              <th>Voting Power</th>
              <th>Uptime</th>
              <th>Commission</th>
              <th class='d-none'></th>
            </tr>
          </thead>
          <tbody>
            <% @chain.validators.each do |v| -%>
              <tr>
                <td>
                  <a href='<%= namespaced_path( 'validator', v ) %>'>
                    <% if v.moniker -%>
                      <strong><%= v.moniker.truncate(40, separator: '...') %></strong>
                    <% else %>
                      <span class='technical'><%= (v.owner || v.address).truncate(40, separator: '...') %></span>
                    <% end -%>
                  </a>
                </td>
                <td data-order='<%= v.current_voting_power %>'><%= format_amount(v.current_voting_power, denom: @chain.token_map[@chain.primary_token]['display']) %></td>
                <td data-order='<%= v.current_uptime %>' class='technical'><%= round_if_whole((v.current_uptime * 100).round(0)) %>%</td>
                <% if v.info == {} %>
                  <td data-order='1'>0%</td>
                <% else %>
                  <td data-order='<%= v.info['commission']['commission_rates']['rate'].to_f %>'><%= v.info == {} ? "" : number_to_percentage(v.info['commission']['commission_rates']['rate'].to_f * 100, precision: 0)%>
                <% end %>
                <td class='d-none'>
                  ⭐️ <%= v.active? ? '✔' : '𐄂' %> <!-- for the gear toggles -->
                  <%= v.owner %> <%= v.address %> <!-- so you can paste your address into search -->
                </td>
              </tr>
            <% end -%>
          </tbody>
        </table>
      </div>
    </section>
  </div>

  <div class='col-12 col-md-3 order-0 order-md-1 info-cards'>
    <div 
      data-controller="content-loader"
      data-content-loader-url="<%= namespaced_path(  'info_cards', @chain, pre_path: true ) %>"
      data-content-loader-refresh-interval="5000">
    
      <%= render partial: 'info_cards', chain: @chain, latest_block: @latest_block %>

    </div>

    <div class='card'>
      <h5 class='card-header'>Voting Power</h5>
      <div class='card-body'>
        <div class='mb-3'>
          <label class='d-inline'>Currently Online:</label>
          <div class='stat-value d-inline'>
            <span class='technical'><%= chain_voting_power_online_percentage(@chain) %></span>
          </div>
        </div>

        <div class='validator-sparkline-switcher btn-group btn-group-sm'>
          <button type='button' data-target='last48h' class='btn btn-outline-secondary'>Past 48h</button>
          <button type='button' data-target='last30d' class='btn btn-outline-secondary'>Past 30d</button>
        </div>

        <div class='charts'>
          <div class='small-average-voting-power-last48h-chart-container'>
            <canvas class='average-voting-power-last48h-chart'></canvas>
          </div>
          <div class='small-average-voting-power-last30d-chart-container'>
            <canvas class='average-voting-power-last30d-chart'></canvas>
          </div>
        </div>

        <script>
          App.seed.AVERAGE_VOTING_POWER = {
            last48h: <%= AverageSnapshotDecorator.new( @chain, 'voting-power', 'hour', 48 ).as_json.to_json.html_safe %>,
            last30d: <%= AverageSnapshotDecorator.new( @chain, 'voting-power', 'day', 30 ).as_json.to_json.html_safe %>
          }
        </script>
      </div>
    </div>

    <div class='card'>
      <h5 class='card-header'>Average Block Time</h5>
      <div class='card-body'>
        <label>Last 100 blocks:</label>
        <div class='stat-value technical'>
          <%= @chain.average_block_time.round(2) %> seconds
        </div>

        <label>Past 48 hours:</label>
        <div class='small-average-block-time-chart-container'>
          <canvas class='average-block-time-chart'></canvas>
        </div>

        <script>
          App.seed.AVERAGE_BLOCK_TIME = <%= AverageSnapshotDecorator.new( @chain, 'block-time', 'hour', 48 ).as_json.to_json.html_safe %>
        </script>
      </div>
    </div>
  </div>
</div>
