<% content_for :body_class, 'validator-show' %>

<%= render partial: '/common/shared/chain_header', locals: { accounts_link: true, transactions_link: true, swaps_link: true, governance_link: true, contracts_link: true, summary_link: true, events_link: true } %>
<%= render partial: '/common/shared/sync_errors' %>

<% if @validator.has_info? %>
  <h2 class='mb-3'>
    <%= @validator.moniker.truncate(40, separator: '...') %>
    <% if @validator.info_field( 'description', 'website' ) && (url = Addressable::URI.heuristic_parse(@validator.info_field( 'description', 'website' )).to_s rescue nil) %>
      <a class='btn btn-outline-primary ml-3' href='<%= url %>' target='_blank'>Visit Site&nbsp;&nbsp;<span class='fas fa-external-link-alt'></span></a>
    <% end -%>
  </h2>
<% end -%>

<div class='row mb-4'>
  <div class='col-12 col-md-8'>
    <div class='info'>
      <% if @validator.has_info? -%>
        <h5 class='mb-0'>
          <label class='text-muted'>Owner</label>
          <span class='technical'><%= @validator.owner %></span>
        </h5>
      <% end -%>

      <h5 class='mb-0'>
        <label class='text-muted'><%= @validator.has_info? ? 'Address' : 'Validator' %></label>
        <span class='technical'><%= @validator.address %></span>
      </h5>

      <% if @validator.account -%>
        <h5 class='mb-0'>
          <label class='text-muted'>Account</label>
          <span class='technical'>
            <a href='<%= namespaced_path( 'account', @validator.account ) %>'><%= @validator.account.address %></a>
          </span>
        </h5>
      <% end -%>
    </div>
  </div>

  <% if @chain.class::SUPPORTS_LEDGER -%>
    <div class='col-12 col-md-4'>
      <div class='text-center'>
        <button class='btn btn-lg btn-primary delegate-button' data-toggle='modal' data-target='#delegation-modal'>Wallet</button>
        <p class='mt-1 mb-0 text-muted text-sm'>With your Ledger Nano S or Mathwallet <br/>on Brave, Chrome, or Opera.</p>
      </div>
    </div>
  <% end -%>
</div>

<div class='row'>
  <div class='col-12 col-md-8 order-1 order-md-0'>
    <%= render partial: 'big_charts' %>
    <%= render partial: 'governance' %>
    <%= render partial: 'events' %>
    <%= render partial: 'delegations' %>
  </div>

  <div class='col-12 col-md-4 order-0 order-md-1 info-cards'>
    <%= render partial: 'sidebar' %>
  </div>
</div>


<% content_for :modals do -%>
  <%= render partial: '/shared/wallet_modals/delegation_modal', locals: { chain: @chain, validators: @validators } %>
<% end -%>

<script>
  <% if current_user.present? %>
    App.config.userId = '<%= current_user.present? ? current_user.id : nil %>';
    App.config.walletPresent = <%= current_user.wallets.present? %>;
    App.config.accountIndex = <%= current_user.wallets.first.present? ? current_user.wallets.first.account_index : 0 %>;
    App.config.chainId = '1';
  <% end %>
  App.config.validatorOperatorAddress = '<%= @validator.owner %>';
  App.config.addressInfoPathTemplate = '<%= namespaced_path( 'account', 'ADDRESS' ) %>';
  App.config.broadcastTxPath = '<%= namespaced_path( 'broadcast', pre_path: true ) %>';
  App.config.viewTxPath = '<%= namespaced_path( 'transaction', 'TRANSACTION_HASH' ) %>';
</script>
