<% content_for :body_class, 'user-settings' %>

<%= form_for @user do |f| -%>
  <div class='row'>
    <div class='col-12'>
      <h2 class='header text-center d-block'>
        Settings
      </h2>

      <% if @user.errors.any? -%>
        <div class='alert alert-warning'>
          <strong>Sorry, we couldn't do that.</strong>
          <ul class='mb-0 pl-4'>
            <% @user.errors.full_messages.each do |msg| -%>
              <li><%= msg %></li>
            <% end -%>
          </ul>
        </div>
      <% end -%>
    </div>
  </div>

  <div class='row clearfix mt-2 pt-3 justify-content-md-center'>
    <div class='col-12 col-md-5'>
      <div class='card'>
        <h5 class='card-header'>User Info</h5>
        <div class='card-body'>
          <div class='form-group'>
            <%= f.text_field :name, placeholder: 'Your Name', class: 'form-control' %>
          </div>
          <div class='form-group'>
            <%= f.email_field :email, placeholder: 'your@email.com', class: 'form-control' %>
          </div>
          <div class='form-group mb-0'>
            <%= f.password_field :password, placeholder: 'change password', class: 'form-control' %>
          </div>
        </div>
      </div>

      <div class='text-center'>
        <%= f.submit class: 'btn btn-primary', value: 'Update' %>
      </div>
    </div>
  </div>
<% end -%>
