<% content_for :body_class, 'user-settings' %>

<%= form_for @user do |f| -%>
  <div class='row'>
    <div class='col-12'>
      <h2 class='header'>
        Settings
        <%= f.submit class: 'btn btn-primary', value: 'Update' %>
      </h2>

      <% if @user.errors.any? -%>
        <div class='alert alert-warning'>
          <strong>Sorry, we couldn't do that.</strong>
          <ul class='mb-0 pl-4'>
            <% @user.errors.full_messages.each do |msg| -%>
              <li><%= msg %></li>
            <% end -%>
          </ul>
        </div>
      <% end -%>
    </div>
  </div>

  <div class='row clearfix pt-3'>
    <div class='col-12 col-md-5'>
      <div class='card'>
        <h5 class='card-header'>User Info</h5>
        <div class='card-body'>
          <div class='form-group'>
            <%= f.text_field :name, placeholder: 'Your Name', class: 'form-control' %>
          </div>
          <div class='form-group'>
            <%= f.email_field :email, placeholder: 'your@email.com', class: 'form-control' %>
          </div>
          <div class='form-group mb-0'>
            <%= f.password_field :password, placeholder: 'change password', class: 'form-control' %>
          </div>
        </div>
      </div>
    </div>

    <div class='col-12 col-md-7'>
      <div class='card'>
        <h5 class='card-header'>Alert Subscriptions</h5>
        <div class='card-body alert-subscription-list'>
          <% subs = current_user.alert_subscriptions -%>
          <% if subs.empty? -%>
            No validators subscribed to yet.
          <% else -%>
            <% subs_by_chain = subs.group_by { |sub| sub.alertable.chain } -%>
            <% chains = sort_chains(subs_by_chain.keys) -%>
            <% num_chains = chains.count -%>
            <% chains.each do |chain| -%>
              <% subs = subs_by_chain[chain] -%>
              <% if num_chains > 1 -%>
                <div class='subscription-chain-header text-lg text-muted'>
                  <%= chain.network_name %> / <%= chain.name %>
                </div>
              <% end -%>
              <div class='list-group list-group-flush users-alert-subscription mb-0'>
                <% subs.each_with_index do |sub, i| -%>
                  <div class='list-group-item d-flex flex-column flex-md-row align-items-md-center justify-content-between pl-0 pr-0 <%= i == 0 && num_chains == 1 ? 'pt-0' : '' %>'>
                    <div class='info'>
                      <%= render partial: 'users/settings/alertable_info', locals: { sub: sub } %>
                    </div>
                    <div class='details d-flex flex-column align-items-md-end pt-1'>
                      <%= render partial: 'users/settings/alertable_badges', locals: { sub: sub } %>
                    </div>
                  </div>
                <% end -%>
              </div>
            <% end -%>
          <% end -%>
        </div>
      </div>
    </div>
  </div>
<% end -%>
