<div>
  <span class='d-inline d-md-none <%= icon_classes %> mr-1'></span>
  <span class='font-weight-bold'>
    <% if @validator.nil? %>
      <a href='<%= namespaced_path( 'validator', event.validatorlike ) %>'><%= event.validatorlike.short_name %></a> voting
    <% else -%>
      Voting
    <% end -%>
    power <%= event.positive? ? 'increased' : 'reduced' %></span>
  <span class='text-muted'>
    at block
    <a class='technical' href='<%= namespaced_path( 'block', event.height ) %>'><%= event.height %></a>
  </span>
</div>
<div class='from-to d-flex align-items-center'>
  <div class='font-weight-bold'><%= format_amount(event.from, hide_units: true, denom: @chain.token_map[@chain.primary_token]['display']) %></div>
  <div class='text-muted text-sm ml-3 mr-3'><span class='fas fa-arrow-right'></span></div>
  <div class='font-weight-bold'><%= format_amount(event.to, hide_units: true, denom: @chain.token_map[@chain.primary_token]['display']) %></div>
  <div class='ml-3'>
    <small class='text-muted font-size-sm technical text-nowrap'>( <%= sprintf("%+d", event.delta) %> / <%= sprintf("%+.1f%%", event.percentage_change) %> )</small>
  </div>
</div>
