<tr data-transaction-id='<%= row.id %>'>
  <td class='text-nowrap align-middle'>
    <%= row.created_at.try(:strftime, "%B %-0d, %Y @ %H:%M %Z") %>
    <div class='text-sm text-muted'><%= distance_of_time_in_words( row.created_at, Time.now, true, highest_measures: 2 ) %> ago</div>
  </td>
  <td class='align-middle'>
    <span class='text'>
      <span class='technical'><%= row.amount.to_i %></span>
      <%= row.denomination %>
    </span>
    <span class='text-muted'>to</span><br/>
    <span class='technical'><%= row.address %></span>
    <% if false -%>
      <div class='text-sm mt-1'>
        <% if row.user %>
          On behalf of user <a href='<%= admin_user_path(row.user) %>'><%= row.user.name %></a>
        <% end -%>
        (<label class='text-muted mb-0'>IP</label> <span class='technical'><%= row.ip %></span>)
      </div>
    <% end -%>
  </td>
  <td class='text-nowrap align-middle'>
    <% if row.failed? -%>
      <div class='text-danger status' data-status='failed'>
        <span class='fa fa-exclamation-triangle'></span>
        <span class='ml-3'>Failed</span>
      </div>
    <% elsif !row.completed? -%>
      <div class='text-muted status' data-status='pending'>
        <span class='fa fa-sync fa-spin'></span>
        <span class='ml-3'>Pending</span>
      </div>
    <% else -%>
      <div class='status d-flex align-items-center' data-status='success'>
        <span class='fa fa-check text-success'></span>
        <span class='ml-3'>
          Completed
          <div><small>(block <a href='<%= cosmos_chain_block_path(@chain, row.height) %>'><%= row.height %></a>)</small></div>
        </span>
      </div>
    <% end -%>
  </td>
</tr>
