<nav class='navbar navbar-expand-lg navbar-light bg-white'>
  <div class='container'>
    <div class='brands'>
      <div class='navbar-brand'>
        <a href='/'>
          <img height='20px' src='<%= image_path 'hubble-logo.png' %>' alt='Puzzle (by secretnodes.org)' />
        </a>
        <a href='https://secretnodes.org'>
          <div class='figment-logo'>
            <span class='text-muted text-sm mt-2'>by</span>
            <img height='20px' src='<%= image_path 'figment-logo.png' %>' />
          </div>
        </a>
      </div>
    </div>

    <button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbarNavDropdown' aria-controls='navbarNavDropdown' aria-expanded='false' aria-label='Toggle navigation'>
      <span class='navbar-toggler-icon'></span>
    </button>
    <div class='collapse navbar-collapse' id='navbarNavDropdown'>
      <ul class='navbar-nav ml-auto'>
        <% if @chain -%>
          <form class='form-inline my-2 my-lg-0' action='<%= namespaced_path( 'search', pre_path: true ) %>'>
            <input class='form-control form-control-sm mr-sm-2' name='query' type='search' value='<%= params[:query] %>' placeholder='Search <%= @chain.name %>...' aria-label='Search'>
          </form>
          <li class='sep'>|</li>

          <% grouped_chains = [
            *Cosmos::Chain.alive.has_synced.to_a,
            *Terra::Chain.alive.has_synced.to_a,
            *Iris::Chain.alive.has_synced.to_a,
            *Kava::Chain.alive.has_synced.to_a
          ].group_by(&:network_name) -%>

          <% if !@no_chain_select && grouped_chains.any? -%>
            <li class='nav-item dropdown top-nav-chain-select'>
              <a class='nav-link dropdown-toggle' href='#' id='chain-menu-link' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
                <%= @chain.name %>
              </a>
              <div class='dropdown-menu' aria-labelledby='chain-menu-link'>
                <% grouped_chains.each do |network, chains| -%>
                  <div class='dropdown-label'><%= network %></div>
                  <% chains.each do |chain| -%>
                    <% path = controller_name == 'dashboard' ? namespaced_path( 'dashboard', chain: chain ) : namespaced_path( chain: chain ) -%>
                    <a class='dropdown-item <%= 'current-chain' if chain == @chain %>' href='<%= path %>'>
                      <%= chain.name %>
                      <!-- <% if chain == @chain -%><span class='fas fa-circle text-sm'></span><% end -%> -->
                    </a>
                  <% end -%>
                  <div class='dropdown-divider'></div>
                <% end -%>
              </div>
            </li>
            <li class='sep'>|</li>
          <% end -%>
        <% end -%>

        <% if current_user -%>
          <% if @chain -%>
            <li class='nav-item'>
              <a class='nav-link' href='<%= namespaced_path( 'dashboard', chain: @chain || Cosmos::Chain.primary ) %>'>Dashboard</a>
            </li>
            <li class='sep'>|</li>
          <% end -%>

          <li class='nav-item dropdown'>
            <a class='nav-link dropdown-toggle' href='#' id='account-menu-link' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
              Account
            </a>
            <div class='dropdown-menu' aria-labelledby='account-menu-link'>
              <a class='dropdown-item' href='<%= settings_users_path %>'>Settings</a>
              <a class='dropdown-item' href='<%= logout_path %>'>Logout</a>
            </div>
          </li>
        <% else -%>
          <li class='nav-item'>
            <a class='nav-link' href='<%= login_path %>'>Login</a>
          </li>
          <li class='sep'>/</li>
          <li class='nav-item'>
            <a class='nav-link' href='<%= new_user_path %>'>Signup</a>
          </li>
        <% end -%>
      </ul>
    </div>
  </div>
</nav>
