<div class='card'>
  <h5 class='card-header'>
    <div class='card-header-parts'>
      <div>Event History</div>
      <% if !current_user -%>
        <div data-toggle='tooltip' title='Sign up to subscribe to alerts!'>
          <a class='btn btn-sm btn-outline-light'
             href='<%= new_user_path %>'>subscribe</a>
        </div>
      <% else -%>
        <div>
          <a class='btn btn-sm btn-outline-light'
             href='<%= cosmos_chain_validator_subscriptions_path(@chain, @validator) %>'>
           <%= current_user.subscribed_to?(@validator) ? 'edit subscription' : 'subscribe to alerts' %>
         </a>
        </div>
      <% end -%>
    </div>
  </h5>

  <div class='card-body'>
    <% events = @validator.events -%>
    <% if events.empty? -%>
      No events yet.
    <% end -%>
    <ul class='list-group list-group-flush'>
      <% @validator.events.each do |event| -%>

        <li class='list-group-item'>
          <div class='inner-event d-flex align-items-start flex-column flex-md-row align-items-md-center'>
            <% icon_classes = "fa fa-#{event.icon_name} text-#{event.positive? ? 'success' : 'danger'}" %>
            <div class='d-none d-md-block <%= icon_classes %> mr-3'></div>
            <div class='event-content'>
              <%= render partial: event.to_partial_path, locals: { event: event, icon_classes: icon_classes } %>
            </div>
            <div class='timestamp ml-md-auto text-sm text-muted ml-md-3 mt-2 mt-md-0 text-nowrap text-md-right'>
              <% date_string = event.timestamp.strftime("%B %d, %Y") -%>
              <% time_string = event.timestamp.strftime("at %H:%M %Z") -%>
              <div class='d-inline d-md-block'><%= date_string %></div>
              <div class='d-inline d-md-block'><%= time_string %></div>
            </div>
          </div>
        </li>

      <% end -%>
    </ul>
  </div>
</div>
