<% latest_block = @chain.blocks.first -%>

<div class='card'>
  <h5 class='card-header'>Current Voting Power</h5>
  <div class='card-body'>
    <span class='large-number'><%= format_amount(@validator.current_voting_power) %></span>
    <% if !@validator.in_active_set?( latest_block ) -%>
      <span class='badge badge-danger'>NOT IN VOTING SET</span>
    <% end -%>
    <div>
      <label class='text-muted d-inline mb-0'>Proposal Probability</label>
      <span class='technical'><%= round_if_whole @validator.proposal_probability * 100, 2 %>%</span>
    </div>
  </div>
</div>

<div class='card'>
  <h5 class='card-header'>Blocks</h5>
  <div class='card-body'>
    <label class='text-muted'>Last 50</label>
    <div class='block-heatmap-container'>
      <div class='block-heatmap'>
        <% @chain.blocks.limit( 50 ).reverse_each do |block| -%>
          <% precommitted = block.precommitters.include?(@validator.address) -%>
          <% proposed = block.proposer_address == @validator.address -%>
          <a class='block <%= precommitted ? 'ok' : 'missed' %> <%= proposed ? 'proposed' : '' %>'
             href='<%= cosmos_chain_block_path(@chain, block) %>'
             title="Block <%= block.height %> <span class='fa fa-arrow-right text-sm text-muted'></span> <span class='badge badge-<%= precommitted ? 'success' : 'danger' %>'><%= precommitted ? 'OK' : 'MISSED' %></span>"></a>
        <% end -%>
      </div>
    </div>

    <div>
      <label class='text-muted d-inline mb-0'>Total Pre-commits</label>
      <span class='technical large-number'><%= @validator.total_precommits %></span>
    </div>

    <div>
      <label class='text-muted d-inline mb-0'>Total Proposals</label>
      <span class='technical large-number'><%= @validator.total_proposals %></span>
      <span class='text-muted'>
        (<span class='technical'>
          <%= round_if_whole (@validator.total_proposals / @validator.total_precommits.to_f) * 100, 2 %>%
        </span>)
      </span>
    </div>

    <!--
    <% last_seen_block = @validator.last_precommitted_block %>
    <% if last_seen_block -%>
      <label class='text-muted d-inline mb-0'>Latest</label>
      <a class='large-number technical' href='<%= cosmos_chain_block_path( @chain, last_seen_block ) %>'>
        <%= last_seen_block.height %>
      </a>
      <div class='sub-info'>
        <small class='text-muted'><%= last_seen_block.timestamp.strftime('%B %d, %Y at %H:%M %Z') %></small>
      </div>
    <% else -%>
      Never
    <% end -%>
    -->
  </div>
</div>

<div class='card'>
  <h5 class='card-header'>Lifetime</h5>
  <div class='card-body'>
    <label>First Seen:</label>
    <div class='stat-value'>
      <%= @validator.first_seen_at.try(:strftime, '%B %d, %Y at %H:%M %Z') || 'Never' %>
    </div>

    <label>Voting Power Last Updated:</label>
    <div class='stat-value'>
      <%= @validator.last_updated.try(:strftime, "%B %d, %Y at %H:%M %Z") || 'Never' %>
    </div>
  </div>
</div>
