<% content_for :body_class, 'validator-show' %>

<%= render partial: '/cosmos/shared/chain_header', locals: { summary_link: true } %>
<%= render partial: '/cosmos/shared/sync_errors' %>

<% if @validator.has_info? %>
  <h2 class='mb-3'>
    <%= @validator.moniker %>
    <% if @validator.info_field 'description', 'website' %>
      <a class='btn btn-outline-primary ml-3' href='<%= Addressable::URI.heuristic_parse(@validator.info_field( 'description', 'website' )).to_s %>' target='_blank'>Visit Site&nbsp;&nbsp;<span class='fa fa-external-link-alt'></span></a>
    <% end -%>
  </h2>
  <h5 class='mb-3 mb-md-0'>
    <label class='text-muted'>Owner</label>
    <span class='technical'><%= @validator.owner %></span>
  </h5>
<% end -%>

<h5 class='mb-4'>
  <label class='text-muted'><%= @validator.has_info? ? 'Address' : 'Validator' %></label>
  <span class='technical'><%= @validator.address %></span>
</h5>

<div class='row'>
  <div class='col-12 col-md-8 order-1 order-md-0'>
    <%= render partial: 'big_charts' %>
    <%= render partial: 'events' %>
  </div>

  <div class='col-12 col-md-4 order-0 order-md-1 info-cards'>
    <%= render partial: 'sidebar' %>
  </div>
</div>
