<% content_for :body_class, 'account-show' %>

<%= render partial: '/common/shared/chain_header', locals: { accounts_link: true, transactions_link: true, swaps_link: true, governance_link: true, petitions_link: true, contracts_link: true, summary_link: true, events_link: true } %>
<%= render partial: '/common/shared/sync_errors' %>

<h2 class='mb-0 d-flex justify-content-between'>
  <div>
    <label class='text-muted'>Account</label>
    <span class='technical text-lg'><%= params[:id] %></span>
  </div>
  <button class='btn btn-outline-primary px-5 mr-5 mb-2' data-toggle='modal' data-target='#send-modal'>Send</button>
</h2>
<% if @found_account && @found_account.validator -%>
  <h5 class='mb-4'>
    <label class='text-muted'>Owner</label>
    <a href='<%= namespaced_path( 'validator', @found_account.validator ) %>'>
      <span class='technical'><%= @found_account.validator.long_name %></span>
    </a>
  </h5>
<% end -%>

<% @account = @chain.namespace::AccountDecorator.new( @chain, params[:id] ) -%>

<% if @account.error? -%>
  <div class='error-content d-flex justify-content-between align-items-center flex-column'>
    <h1 class='display'>Unable to Display</h1>
    <p>Sorry! We're having some trouble loading and displaying this data. Please try again later.</p>
  </div>
<% else -%>
  <div class='row'>
    <div class='col-12 col-md-3 order-0 order-md-1 info-cards'>
      <div class='card'>
        <h5 class='card-header'>Balance</h5>
        <div class='card-body'>
          <% @account.balances.each do |balance| -%>
            <div>
              <%= format_amount( balance[:amount], @chain, denom: balance[:denom] ) %> |
              <span class="text-monospace"><%= convert_to_usd(balance[:amount] / 10 ** @chain.token_map[balance[:denom]]['factor'].to_f) %></span> <span class="text-sm text-muted">USD</span>
            </div>
          <% end -%>
        </div>
      </div>
      <div class='card'>
        <h5 class='card-header'>Pending Rewards</h5>
        <div class='card-body'>
          <% if @account.has_outstanding_rewards? -%>
            <% @account.outstanding_rewards.each do |reward| -%>
              <div>
                <%= format_amount( reward[:amount], @chain, denom: reward[:denom] ) %> |
                <span class="text-monospace"><%= convert_to_usd(reward[:amount] / 10 ** @chain.token_map[reward[:denom]]['factor'].to_f) %></span> <span class="text-sm text-muted">USD</span>
              </div>
            <% end -%>
          <% else -%>
            <span class='text-muted'>None</span>
          <% end -%>
        </div>
      </div>
      <div class='card'>
        <h5 class='card-header'>Delegation</h5>
        <div class='card-body'>
          <label class='text-muted mb-0 mt-0'>Bonded</label>
          <%= format_amount( @account.total_delegations( filter: :bonded ), @chain, denom: @chain.token_map[@chain.primary_token]['display'] ) %> |
          <span class="text-monospace"><%= convert_to_usd(@account.total_delegations(filter: :bonded)) %></span> <span class="text-sm text-muted">USD</span>

          <label class='text-muted mb-0 mt-3'>Unbonding</label>
          <%= format_amount( @account.total_delegations( filter: :unbonding ), @chain, denom: @chain.token_map[@chain.primary_token]['display'] ) %> |
          <span class="text-monospace"><%= convert_to_usd(@account.total_delegations(filter: :unbonding)) %></span> <span class="text-sm text-muted">USD</span>
        </div>
      </div>
    </div>

    <div class='col-12 col-md-9 order-1 order-md-0'>
      <%= render partial: 'delegations' %>
      <%= render partial: 'transactions' %>
    </div>
  </div>
  <% content_for :modals do -%>
    <%= render partial: '/shared/wallet_modals/send_modal', locals: { chain: @chain, validators: @validators, to_address: @account.address } %>
  <% end %>
<% end -%>

<script>
  <% if current_user.present? %>
    App.config.userId = '<%= current_user.present? ? current_user.id : nil %>';
    App.config.walletPresent = <%= current_user.wallets.present? %>;
    App.config.accountIndex = <%= current_user.wallets.first.present? ? current_user.wallets.first.account_index : 0 %>;
    App.config.chainId = '1';
  <% end %>
  App.config.addressInfoPathTemplate = '<%= namespaced_path( 'account', 'ADDRESS' ) %>';
  App.config.broadcastTxPath = '<%= namespaced_path( 'broadcast', pre_path: true ) %>';
  App.config.viewTxPath = '<%= namespaced_path( 'transaction', 'TRANSACTION_HASH' ) %>';
</script>