<h1>Hello, <%= @user.name %>!</h1>
<p>Here is your daily digest for the following:</p>
<table class='attributes' width='100%' cellpadding='0' cellspacing='0'>
  <tr>
    <td class='attributes_content'>
      <table width='100%' cellpadding='0' cellspacing='0'>
        <tr>
          <td class='attributes_item'><strong>Validator:</strong>
            <a href='<%= cosmos_chain_validator_url(@alertable.chain, @alertable) %>'><%= @alertable.short_name %></a>
          </td>
        </tr>
        <tr>
          <td class='attributes_item'><strong>Date:</strong> <%= @date.strftime("%B %d, %Y") %></td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<p>There <%= @events.count == 1 ? 'was' : 'were' %> <%= pluralize( @events.count, 'new event' ) %> today.</p>
<% if @events.any? -%>
  <%= render partial: 'event_list' %>
<% end -%>

<p>If you have any questions, please <a href='mailto:contact@figment.network'>email us</a>.</p>
<p>Thanks,
  <br>The Figment Networks Team</p>
<!-- Sub copy -->
<table class='body-sub'>
  <tr>
    <td>
      <p class='sub'>You can manage this subscription <a href='<%= cosmos_chain_validator_subscriptions_url(@alertable.chain, @alertable) %>'>here</a>.</p>
    </td>
  </tr>
</table>
