<h1>Hello, <%= @user.name %>!</h1>
<p>New events occurred<%= @sub.last_instant_at ? " since we last sent you a notification (on #{@sub.last_instant_at.strftime("%Y-%m-%d %H:%M %Z")})" : '' %>:</p>
<table class='attributes' width='100%' cellpadding='0' cellspacing='0'>
  <tr>
    <td class='attributes_content'>
      <table width='100%' cellpadding='0' cellspacing='0'>
        <tr>
          <td class='attributes_item'><strong>Validator:</strong>
            <a href='<%= namespaced_path( 'validator', @alertable, chain: @alertable.chain, full: true ) %>'><%= @alertable.short_name %></a>
          </td>
        </tr>
        <tr>
          <td class='attributes_item'><strong>Chain:</strong>
            <a href='<%= namespaced_path( chain: @alertable.chain, full: true ) %>'><%= @alertable.chain.name %></a>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<p>There <%= @events.count == 1 ? 'is' : 'are' %> <%= pluralize( @events.count, 'new event' ) %>.</p>
<%= render partial: 'event_list' %>

<p>If you have any questions, please <a href='mailto:contact@secretnodes.org'>email us</a>.</p>
<p>Thanks,
  <br>The Figment Networks Team</p>
<!-- Sub copy -->
<table class='body-sub'>
  <tr>
    <td>
      <p class='sub'>You can manage this subscription <a href='<%= namespaced_path( 'validator_subscriptions', @alertable, chain: @alertable.chain, full: true ) %>'>here</a>.</p>
    </td>
  </tr>
</table>
