<% content_for :body_class, 'block-show' -%>

<%= render partial: '/common/shared/chain_header', locals: { summary_link: true } %>

<div class='row'>
  <div class="col-12">
    <div class='transactions-table-header'>
      <h4>
        Transactions
        <small>&nbsp;&mdash; <%= @transactions_total %> total&nbsp;</small>
      </h4>
    </div>

    <div class='transactions-table'>
      <table data-empty='<%= @decorated_txs.nil? || @decorated_txs.empty? %>'>
        <thead>
          <tr>
            <th>Activity</th>
            <th>Timestamp</th>
            <th>Result</th>
            <th>Hash</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <% if @decorated_txs.nil? -%>
            <tr>
              <td class='p-3 text-center' colspan='5'>Unable to retrieve transaction data.</td>
            </tr>
          <% elsif @decorated_txs.empty? -%>
            <tr>
              <td class='p-3 text-center' colspan='5'>No transactions in this block.</td>
            </tr>
          <% end -%>

          <% @decorated_txs.each do |tr| -%>
            <tr>
              <td>
              <%= link_to tr.chain_id, namespaced_path( nil, @chain ), class: 'd-none d-md-flex badge badge-pill badge-dark text-uppercase w-25 pl-4', style: 'cursor: pointer'%>
              <% tr.messages.each do |msg| -%>
                <%= msg.humanize_message %>
              <% end -%>
              </td>
              <td data-order=<%= tr.timestamp %>>
                <%= tr.time_ago %>
              </td>
              <td data-order='<%= tr.error? ? 'error' : 'success' %>'>
                <% if tr.error? -%>
                  <span class='badge badge-danger' data-toggle='tooltip' title='<%= tr.error_message %>'>ERROR</span>
                <% else -%>
                  <span class='badge badge-success'>SUCCESS</span>
                <% end -%>
              </td>
              <td data-order='<%= tr.hash %>'>
                <span class='technical'><%= tr.hash.truncate(15, separator: '...') %></span>
              </td>
              <td class='text-right'>
                <a class='btn btn-outline-primary btn-sm' href='<%= namespaced_path( 'block_transaction', tr.height, tr ) %>'>Details...</a>
              </td>
            </tr>
          <% end -%>
        </tbody>
      </table>
      <div class='mt-4'>
        <%= will_paginate @transactions, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
      </div>
    </div>
  </div>
</div>