<% content_for :body_class, 'governance-proposal' %>

<%= render partial: '/cosmos/shared/chain_header', locals: { summary_link: true } %>
<%= render partial: '/cosmos/shared/sync_errors' %>

<div class='row'>
  <div class='col-12 col-md-9'>
    <div class='proposal-details'>
      <div class='proposal-header d-flex align-items-center justify-content-between'>
        <div class='d-flex align-items-center'>
          <h4><%= @proposal.title %></h4>
          <span class='d-none d-md-inline badge badge-pill badge-light ml-2 text-uppercase'><%= @proposal.status_string %></span>
        </div>
        <div class='controls'>
          <button class='btn btn-sm btn-outline-light mr-2' data-toggle='modal' data-target='#deposit-modal'>Deposit</button>
          <button class='btn btn-sm btn-outline-light mr-2' data-toggle='modal' data-target='#vote-modal'>Vote</button>
          <a class='btn btn-sm btn-outline-light' href='<%= cosmos_chain_governance_root_path(@chain) %>'><span class='fa fa-chevron-left'></span> Back</a>
        </div>
      </div>

      <div class='vote-tallies d-flex justify-content-between'>
        <div class='tally flex-column align-items-center text-center pb-2'>
          <h6 class='title'>YES</h6>
          <div class='technical'>
            <span data-toggle='tooltip' title="<div class='text-muted text-center'>Voting Power:</div><div class='technical text-center'><%= round_if_whole(@tally_result.raw_yes, 0) %></div>">
              <%= @tally_result.percent_yes %>%
            </span>
          </div>
        </div>
        <div class='tally flex-column align-items-center text-center pb-2'>
          <h6 class='title'>ABSTAIN</h6>
          <div class='technical'>
            <span data-toggle='tooltip' title="<div class='text-muted text-center'>Voting Power:</div><div class='technical text-center'><%= round_if_whole(@tally_result.raw_no, 0) %></div>">
              <%= @tally_result.percent_abstain %>%
            </span>
          </div>
        </div>
        <div class='tally flex-column align-items-center text-center pb-2'>
          <h6 class='title'>NO</h6>
          <div class='technical'>
            <span data-toggle='tooltip' title="<div class='text-muted text-center'>Voting Power:</div><div class='technical text-center'><%= round_if_whole(@tally_result.raw_no, 0) %></div>">
              <%= @tally_result.percent_no %>%
            </span>
          </div>
        </div>
        <div class='tally flex-column align-items-center text-center pb-2'>
          <h6 class='title'>NO (VETO)</h6>
          <div class='technical'>
            <span data-toggle='tooltip' title="<div class='text-muted text-center'>Voting Power:</div><div class='technical text-center'><%= round_if_whole(@tally_result.raw_no_with_veto, 0) %></div>">
              <%= @tally_result.percent_no_with_veto %>%
            </span>
          </div>
        </div>
      </div>

      <div class='voting-period justify-content-between'>
        <div class='info'>
          <div class='title'>VOTING PERIOD START</div>
          <div class='value technical'>
            <% if @proposal.in_deposit_period? -%>
              &mdash;
            <% else -%>
              <%= @proposal.voting_start_time.strftime("%Y-%m-%d at %H:%M %Z") %>
            <% end -%>
          </div>
        </div>
        <div class='info'>
          <div class='title'>VOTING PERIOD END</div>
          <div class='value technical'>
            <% if @proposal.in_deposit_period? -%>
              &mdash;
            <% else -%>
              <%= @proposal.voting_end_time.strftime("%Y-%m-%d at %H:%M %Z") %>
            <% end -%>
          </div>
        </div>
        <div class='info'>
          <div class='title'>SUBMITTED ON</div>
          <div class='value technical'>
            <%= @proposal.submit_time.strftime("%Y-%m-%d at %H:%M %Z") %>
          </div>
        </div>
      </div>

      <div class='info pt-2 pb-3'>
        <div class='title mt-3 text-left mb-0'>PROPOSAL DESCRIPTION</div>
        <div class='proposal-description-text pb-3 px-3 pt-0'><%= @proposal.description %></div>
      </div>

      <div class='px-3 pb-2'>
        <div class='title mt-3 text-left mb-0 pl-0'>VOTES CAST</div>
        <div class='table-responsive'>
          <table class='table table-sm'>
            <thead>
              <th class='title text-left'>Vote</th>
              <th class='title text-left'>Account/Validator</th>
            </thead>
            <tbody>
              <% if @proposal.votes.empty? %>
                <tr>
                  <td colspan='2' align='middle'>
                    <% if @proposal.missing_deposits_data? -%>
                      Missing voting data.
                    <% else -%>
                      No votes cast.
                    <% end -%>
                  </td>
                </tr>
              <% else -%>
                <% @proposal.votes.each do |vote| -%>
                  <tr class='technical'>
                    <td class='pl-3 text-uppercase'><%= vote.option %></td>
                    <td class='pl-3'>
                      <% if vote.account.validator -%>
                        <a href='<%= cosmos_chain_validator_path(@chain, vote.account.validator) %>'><%= vote.account.validator.short_name %></a>
                      <% else -%>
                        <span class='technical'><%= vote.account.address %></span>
                      <% end -%>
                    </td>
                  </tr>
                <% end -%>
              <% end -%>
            </tbody>
          </table>
        </div>
      </div>

      <div class='px-3 pb-2'>
        <div class='title mt-3 text-left mb-0 pl-0'>DEPOSITS MADE</div>
        <div class='table-responsive'>
          <table class='table table-sm'>
            <thead>
              <th class='title text-left'>Deposit</th>
              <th class='title text-left'>Account/Validator</th>
            </thead>
            <tbody>
              <% if @proposal.deposits.empty? -%>
                <tr>
                  <td colspan='2' align='middle'>
                    <% if @proposal.missing_deposits_data? -%>
                      Missing deposit data.
                    <% else -%>
                      No deposits made.
                    <% end -%>
                  </td>
                </tr>
              <% else %>
                <% @proposal.deposits.each do |deposit| -%>
                  <tr class='technical'>
                    <td class='pl-3'><%= format_amount( deposit.amount, token_denom_override: deposit.amount_denom ) %></td>
                    <td class='pl-3'>
                      <% if deposit.account.validator -%>
                        <a href='<%= cosmos_chain_validator_path(@chain, deposit.account.validator) %>'><%= deposit.account.validator.short_name %></a>
                      <% else -%>
                        <span class='technical'><%= deposit.account.address %></span>
                      <% end -%>
                    </td>
                  </tr>
                <% end -%>
              <% end -%>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class='col-12 col-md-3'>
    <%= render 'cosmos/governance/params' %>
  </div>
</div>

<% content_for :modals do -%>
  <div class='modal fade' id='vote-modal' tabindex='-1' role='dialog' data-chain-id='<%= @chain.ext_id %>' data-proposal-id='<%= @proposal.chain_proposal_id %>'>
    <div class='modal-dialog modal-dialog-centered' role='document'>
      <div class='modal-content'>
        <div class='modal-header'>
          <h5 class='modal-title'>Vote on Proposal</h5>
          <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
            <span aria-hidden='true'>&times;</span>
          </button>
        </div>

        <div class='modal-body'>
          <div class='form-group'>
            <div class='form-check form-check-inline'>
              <label class='form-check-label'>
                <input type='radio' name='option' value='yes' checked='checked' class='form-check-input' />
                YES
              </label>
            </div>
            <div class='form-check form-check-inline'>
              <label class='form-check-label'>
                <input type='radio' name='option' value='no' class='form-check-input' />
                NO
              </label>
            </div>
            <div class='form-check form-check-inline'>
              <label class='form-check-label'>
                <input type='radio' name='option' value='abstain' class='form-check-input' />
                ABSTAIN
              </label>
            </div>
            <div class='form-check form-check-inline'>
              <label class='form-check-label'>
                <input type='radio' name='option' value='no_with_veto' class='form-check-input' />
                NO (VETO)
              </label>
            </div>
          </div>

          <div class='form-group'>
            <label>From</label>
            <input type='text' name='from' class='form-control' value='' />
          </div>

          <div class='mt-3 d-flex justify-content-between align-items-center'>
            <pre class='cli-command'></pre>
            <button class='btn btn-primary btn-sm copy-button'>Copy</button>
          </div>
        </div>

        <div class='modal-footer'>
          <button type='button' class='btn btn-secondary' data-dismiss='modal'>Done</button>
        </div>
      </div>
    </div>
  </div>

  <div class='modal fade' id='deposit-modal' tabindex='-1' role='dialog' data-chain-id='<%= @chain.ext_id %>' data-proposal-id='<%= @proposal.chain_proposal_id %>'>
    <div class='modal-dialog modal-dialog-centered' role='document'>
      <div class='modal-content'>
        <div class='modal-header'>
          <h5 class='modal-title'>Deposit for Proposal</h5>
          <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
            <span aria-hidden='true'>&times;</span>
          </button>
        </div>

        <div class='modal-body'>
          <div class='form-group'>
            <label>Amount</label>
            <input type='text' name='amount' class='form-control' value='' />
          </div>

          <div class='form-group'>
            <label>From</label>
            <input type='text' name='from' class='form-control' value='' />
          </div>

          <div class='mt-3 d-flex justify-content-between align-items-center'>
            <pre class='cli-command'></pre>
            <button class='btn btn-primary btn-sm copy-button'>Copy</button>
          </div>
        </div>

        <div class='modal-footer'>
          <button type='button' class='btn btn-secondary' data-dismiss='modal'>Done</button>
        </div>
      </div>
    </div>
  </div>
<% end -%>
