<!DOCTYPE html>
<html>
  <head>
    <title>ERROR - Hubble (Figment Networks)</title>
    <%= csrf_meta_tags %>

    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>

    <link href='https://fonts.googleapis.com/css?family=Source+Code+Pro:400|Comfortaa:400,700' rel='stylesheet'>
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.0.13/css/all.css' integrity='sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp' crossorigin='anonymous'>

    <%= stylesheet_link_tag 'errors', media: 'all' %>
  </head>

  <body class='error-page'>
    <nav class='navbar navbar-expand-lg navbar-light bg-white'>
      <div class='container'>
        <div class='ml-auto mr-auto brands'>
          <a class='navbar-brand' href='/'>
            <img height='35px' src='<%= image_path 'hubble-logo.png' %>' alt='Hubble (by Figment Networks)' />
          </a>
        </div>
      </div>
    </nav>

    <div class='content-wrapper'>
      <div class='container'>
        <%= yield %>
      </div>
    </div>

    <footer>
      Copyright &copy; <%= Date.today.year %> Figment Networks Inc.
      All rights reserved.
    </footer>
  </body>
</html>
