<!DOCTYPE html>
<html>
  <head>
    <title>ERROR - Puzzle (secretnodes.org)</title>
    <%= csrf_meta_tags %>

    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>

    <link rel='icon' type='image/png' sizes='32x32' href='<%= asset_path('icons/favicon-32x32.png') %>' />
    <link rel='icon' type='image/png' sizes='96x96' href='<%= asset_path('icons/favicon-96x96.png') %>' />
    <link rel='apple-touch-icon' sizes='180x180' href='<%= asset_path('icons/apple-icon-180x180.png') %>' />

    <link href='https://fonts.googleapis.com/css?family=Source+Code+Pro:400|Comfortaa:400,700' rel='stylesheet'>
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.0.13/css/all.css' integrity='sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp' crossorigin='anonymous'>

    <%= stylesheet_link_tag 'errors', media: 'all' %>
  </head>

  <body class='error-page'>
    <nav class='navbar navbar-expand-lg navbar-light bg-white'>
      <div class='container'>
        <div class='ml-auto mr-auto brands'>
          <a class='navbar-brand' href='/'>
            <img height='35px' src='<%= image_path 'hubble-logo.png' %>' alt='Hubble (by secretnodes.org)' />
          </a>
        </div>
      </div>
    </nav>

    <div class='content-wrapper'>
      <div class='container'>
        <% if flash[:error] -%>
          <div class='alert alert-danger'>
            <%= flash[:error].html_safe %>
          </div>
        <% end -%>

        <% if flash[:notice] %>
          <div class='alert alert-primary auto-alert-hide'>
            <%= flash[:notice].html_safe %>
          </div>
        <% end -%>

        <% if flash[:warning] %>
          <div class='alert alert-warning'>
            <%= flash[:warning].html_safe %>
          </div>
        <% end -%>

        <% if flash[:info] %>
          <div class='alert alert-info'>
            <%= flash[:info].html_safe %>
          </div>
        <% end -%>
        <%= yield %>
      </div>
    </div>

    <footer>
      Copyright &copy; <%= Date.today.year %> secretnodes.org
      All rights reserved.
    </footer>
  </body>
</html>
